@media(max-width:320px){
    .dropdown-content{
        width: 120px;
        padding: 0px 10px;
    }
    .dropdown-content a{
        font-size: 10px;
    }
    .col-text{
       font-size: 12px;
       font-weight: 300;
       letter-spacing: 2px;
       padding-left: 20px; 
    }
    .intro-text-line .icon{
       font-size: 17px;
       font-weight: 600;
    }
    .p-bio{
        font-size: 10px;
        font-weight: 300;
        letter-spacing: 2px;
    }
}